@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-load" authorize="yes" class="btn btn-primary dropdown-text"></a>
        </div>
        <div class="btn-group">
            <a id="NF-jumpReceive" authorize="yes" class="btn btn-primary dropdown-text"></a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-Details" authorize="yes"></a></li>
                <li><a id="NF-edit" authorize="yes"></a></li>
                <li class="split"></li>
                <li><a id="NF-disable" authorize="yes"></a></li>
                <li><a id="NF-enable" authorize="yes"></a></li>
                <li><a id="NF-jump" authorize="yes"></a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="账户/姓名/手机" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel" style="width:100%;float:left">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
<script>
    function btn_Window() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: this.F_EnCode,
            title: this.F_FullName,
            url: this.F_UrlAddress.startsWith("/") ? this.F_UrlAddress + "?keyValue=" + keyValue : location.href + this.F_UrlAddress + "?keyValue=" + keyValue,
            width: "80%",
            height: "90%",
            btn: null
        });
    }
    function btn_Dialog() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: this.F_EnCode,
            title: this.F_FullName,
            url: this.F_UrlAddress.startsWith("/") ? this.F_UrlAddress + "?keyValue=" + keyValue : location.href + this.F_UrlAddress + "?keyValue=" + keyValue,
            width: "80%",
            height: "90%",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm(function() {
                    $("#gridList").trigger("reloadGrid");
                });
            }
        });
    }

    function btn_disable() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要【作废】该订单吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/OrderManage/OrderList/DisabledOrder",
                    param: { keyValue: keyValue },
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                });
            }
        });
    }

    function btn_enable() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要【恢复】该订单吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/OrderManage/OrderList/EnabledOrder",
                    param: { keyValue: keyValue },
                    success: function () {
                        $("#gridList").trigger("reloadGrid");
                    }
                });
            }
        });
    }

    function initGrid(opt) {
        opt = Object.assign({
            el: "",
            pager: "",
            search: "",
            url: ""
        }, opt);

        var $el = $(opt.el);
        $el.dataGrid({
            url: opt.url,
            height: $(window).height() - 190,
            colModel: [
                { label: '订单日期', name: 'F_CreatorTime', align: 'left', width: '110px', frozen: true },
                { label: '运单号', name: 'F_WaybillNumber', align: 'left', width: '120px', frozen: true },
                { label: '货号', name: 'F_ArtNo', align: 'left    ', width: '80px', frozen: true },
                { label: '主键', name: 'F_Id', hidden: true, key: true },
                { label: '到站', name: 'F_Station', align: 'left' },
                { label: '地区', name: 'F_Area', align: 'left' },
                { label: '车辆备注', name: 'F_VehicleRemarks', align: 'left' },
                { label: '发货人', name: 'F_Consignor', align: 'left' },
                { label: '发货电话', name: 'F_ConsignorPhone', align: 'left' },
                { label: '发货人身份证', name: 'F_ConsignorPhone', align: 'left' },
                { label: '收货人', name: 'F_Consignee', align: 'left' },
                { label: '收货电话', name: 'F_ConsigneePhone', align: 'left' },
                { label: '运费合计', name: 'F_FreightCombined', align: 'left', formatter: 'number', },
                { label: '提付', name: 'F_PutPay', align: 'left' },
                { label: '现付', name: 'F_PresentPay', align: 'left' },
                { label: '回付', name: 'F_BackPay', align: 'left' },
                { label: '代收款', name: 'F_CollectionPayment', align: 'left' },
                { label: '放款方式', name: 'F_SettlementMode', align: 'left' },
                { label: '手续费率', name: 'F_FormalityRate', align: 'left' },
                { label: '手续费', name: 'F_FormalityRate', align: 'left' },
                { label: '提货方式', name: 'F_FormalityRate', align: 'left' },
                { label: '开单类型', name: 'F_FormalityRate', align: 'left' },
                { label: '开单人', name: 'F_RecordSingle', align: 'left' },
            ],
            // direction: "rtl", 固定列会挪到左边
            footerrow: true,
            userDataOnFooter: true,
            pager: opt.pager,
            sortname: 'F_CreatorTime desc',
            viewrecords: true,
            subGrid: true,
            subGridRowExpanded: showChildGrid,
            subGridOptions : {
                plusicon: "glyphicon-hand-right",
                minusicon: "glyphicon-hand-down"
            }
        });
        $("#gridList").jqGrid("setFrozenColumns");

        var $elSearch = $(opt.search).unbind("keypress").on("keypress",
            debounce(function () {
                $el.jqGrid('setGridParam', { postData: { keyword: $elSearch.val() } })
                    .trigger('reloadGrid');
            }, 1000));
        return $el;
    }
    function showChildGrid(parentRowID, parentRowKey) {
        var childGridID = parentRowID + "_table";
        var childGridPagerID = parentRowID + "_pager";
        var childGridURL = "/OrderManage/OrderList/GetOrderProductJson?keyValue=" + encodeURIComponent(parentRowKey);
        $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
        $("#" + childGridID).jqGrid({
            url: childGridURL,
            mtype: "GET",
            datatype: "json",
            page: 1,
            colModel: [
                { label: '标识', name: 'F_Id', hidden: true, key: true},
                { label: '名称', name: 'F_Name', width: '40px' },
                { label: '数量', name: 'F_Number', width: '40px' },
                { label: '重量', name: 'F_Weight', width: '40px' },
                { label: '体积', name: 'F_Volume', width: '40px' },
                { label: '单价', name: 'F_UnitPricee', width: '40px' },
                { label: '运费', name: 'F_Freight', width: '40px' },
                { label: '送货费', name: 'F_DeliveryFee', width: '40px' }  ,
                { label: '提货费', name: 'F_PickDeliveryFee', width: '40px '},
                { label: '保价费', name: 'F_InsuredFee', width: '40px' }
            ],
            loadonce: true,
            userDataOnFooter: true,
            width: '1200',
            height: '100%',
            pager: "#" + childGridPagerID
        });
    }

    $(function () {
        $('.toolbar').authorizeButton(window);
        initGrid({ el: "#gridList", pager: "#gridPager", search: "#txt_keyword", url: "/OrderManage/OrderList/GetGridJson" });
    });
</script>
