@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-load" authorize="yes" class="btn btn-primary dropdown-text"></a>
        </div>
        <div class="btn-group">
            <a id="NF-jumpReceive" authorize="yes" class="btn btn-primary dropdown-text"></a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-Details" authorize="yes"></a></li>
                <li><a id="NF-edit" authorize="yes"></a></li>
                <li class="split"></li>
                <li><a id="NF-disable" authorize="yes"></a></li>
                <li><a id="NF-jump" authorize="yes"></a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="账户/姓名/手机" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel" style="width:100%;float:left">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
<script>
    function btn_Window() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: this.F_EnCode,
            title: this.F_FullName,
            url: this.F_UrlAddress.startsWith("/") ? this.F_UrlAddress + "?keyValue=" + keyValue : location.href + this.F_UrlAddress + "?keyValue=" + keyValue,
            width: "90%",
            height: "90%",
            btn: null
        });
    }
    function btn_Dialog() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: this.F_EnCode,
            title: this.F_FullName,
            url: this.F_UrlAddress.startsWith("/") ? this.F_UrlAddress + "?keyValue=" + keyValue : location.href + this.F_UrlAddress + "?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            callBack: function (iframeId) {
                top.frames[iframeId].Submit(function() {
                    //$("#gridList").trigger("reloadGrid");
                });
            }
        });
    }
    function btn_disable() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要【作废】该订单吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/OrderManage/OrderList /DisabledAccount",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                });
            }
        });
    }
    function btn_jump() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要【作废】该订单吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/OrderManage/OrderList /DisabledAccount",
                    param: { keyValue: keyValue },
                    success: function() {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                });
            }
        });
    }
    function initGrid(opt) {
        opt = Object.assign({
            el: "",
            pager: "",
            search: "",
            url: ""
        }, opt);

        var $el = $(opt.el);
        $el.dataGrid({
            url: opt.url,
            height: $(window).height() - 190,
            colModel: [
                { label: '订单日期', name: 'F_CreatorTime', frozen: true },
                { label: '运单号', name: 'F_Id', align: 'left', frozen: true, key: true },
                { label: '货号', name: 'ArtNo01', align: 'left' },
                { label: '到站', name: 'F_Station', align: 'left' },
                { label: '地区', name: 'F_Area', align: 'left' },
                { label: '车辆备注', name: 'F_Latitude', align: 'left' },
                { label: '发货人', name: 'F_Consignor', align: 'left' },
                { label: '发货电话', name: 'F_ConsignorPhone', align: 'left' },
                { label: '发货人身份证', name: 'F_ConsignorPhone', align: 'left' },
                { label: '收货人', name: 'F_Consignee', align: 'left' },
                { label: '收货电话', name: 'F_ConsigneePhone', align: 'left' },
                { label: '货物名称', name: 'F_Name', align: 'left' },
                { label: '件数', name: 'F_Number', align: 'left' },
                { label: '重量', name: 'F_Weight', align: 'left' },
                { label: '体积', name: 'F_Volume', align: 'left' },
                { label: '运费合计', name: 'F_FreightCombined', align: 'left', formatter: 'number' },
                { label: '提付', name: 'F_PutPay', align: 'left' },
                { label: '现付', name: 'F_PresentPay', align: 'left' },
                { label: '回付', name: 'F_BackPay', align: 'left' },
                { label: '代收款', name: 'F_CollectionPayment', align: 'left' },
                { label: '放款方式', name: 'F_SettlementMode', align: 'left' },
                { label: '手续费率', name: 'F_FormalityRate', align: 'left' },
                { label: '手续费', name: 'F_FormalityRate', align: 'left' },
                { label: '提货方式', name: 'F_FormalityRate', align: 'left' },
                { label: '开单类型', name: 'F_FormalityRate', align: 'left' },
                { label: '开单人', name: 'F_RecordSingle', align: 'left' }
            ],
            // direction: "rtl", 固定列会挪到左边
            footerrow: true,
            userDataOnFooter: true,
            pager: opt.pager,
            sortname: 'F_CreatorTime desc',
            viewrecords: true
        });
        var $elSearch = $(opt.search).unbind("keypress").on("keypress",
            debounce(function () {
                $el.jqGrid('setGridParam', { postData: { keyword: $elSearch.val() } })
                    .trigger('reloadGrid');
            }, 1000));
        return $el;
    }

    $(function () {
        $('.toolbar').authorizeButton(window);
        initGrid({ el: "#gridList", pager: "#gridPager", search: "#txt_keyword", url: "/OrderManage/OrderList/GetGridJson" });
    });
</script>
