@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style type="text/css">
    html, body {width: 100%;height: 100%;margin: 0px;padding: 0px;}
</style>
<div style="width: 100%; height: 100%;display:flex;flex-direction: row; justify-content: stretch; align-items: stretch;">
    <div id="divGoods" style="flex: 1;display: flex; flex-direction: column;">
        <div class="topPanel">
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="kwGoods" type="text" class="form-control" placeholder="地区/运单号/货号/发货人/收货人/车辆备注" style="width: 250px;">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table id="gridGoods"></table>
        <div id="pagerGoods"></div>
    </div>
    <div style="display:flex;flex: 0; width: 40px; flex-direction: column; justify-content: center; align-items: center;">
        <a id="btnLoad" class="btn btn-primary" style="margin: 0.3rem;">装<br />车<br /><i class="glyphicon glyphicon-forward"></i></a>
        <a id="btnUnload" class="btn btn-danger" style="margin: 0.3rem;">卸<br />车<br /><i class="glyphicon glyphicon-backward"></i></a>
    </div>
    <div id="divVehicles" style="flex: 1;display: flex; flex-direction: column;">
        <div class="topPanel" style="height:120px">
               <!--
                   <div class="toolbar">
                <div class="btn-group">
                    <a id="btnSubmit" onclick="btnSubmit()" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span>提交</a>
                </div>
            </div>
       
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="kwVehicles" type="text" class="form-control" placeholder="账户/姓名/手机"  style="width: 200px;">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
             -->
            <div>
                <form id="form1">
                    <table id="" class="form">
                        <tr style="line-height:40px">
                            <th class="formTitle" style="width:50px; padding:0px 10px 0px 10px;">装车类型:</th>
                            <td class="formValue" style="padding:0px" colspan="2">
                                <label class="demo--label">
                                    <input class="demo--radio" type="radio" checked="checked" value="frist" id="LoadingType" name="LoadingType">
                                    <span class="demo--radioInput"></span>首次装车
                                </label>
                                <label class="demo--label">
                                    <input class="demo--radio" type="radio" id="LoadingType" value="next" name="LoadingType">
                                    <span class="demo--radioInput"></span>继续装车
                                </label>
                            </td>
                            <th class="formTitle" style="width:50px; padding:0px 10px 0px 10px; display:none" id="selctVehicleText">选择车辆:</th>
                            <td class="formValue" style="padding:0px;display:none" id="selctVehicleButton" colspan="2">
                                <input type="text" id="search" class="form-control required" placeholder="车牌号/手机号" style="width: 100px;">
                            </td>
                        </tr>
                        <tr style="line-height:40px">
                            <th class="formTitle" style="width:30px; padding:0px 10px 0px 10px;">到站:</th>
                            <td class="formValue" style="padding:0px">
                                <input id="F_Station" name="F_Station" type="text" class="form-control required" placeholder="到站" style="width: 80px;" />
                            <th class="formTitle" style="width:30px; padding:0px 10px 0px 10px;">车牌号:</th>
                            <td class="formValue" style="padding:0px">
                                <input id="F_LicensePlate" type="text" class="form-control required" placeholder="车牌号" style="width:80px;">
                            </td>
                            <th class="formTitle" style="width:30px; padding:0px 10px 0px 10px;">司机电话:</th>
                            <td class="formValue" style="padding:0px">
                                <input id="F_DriverPhone" type="text" class="form-control" placeholder="司机电话" required style=" width: 80px;">
                            </td>
                        </tr>
                        <tr style="line-height:40px">
                            <th class="formTitle" style="width:30px; padding:0px 10px 0px 10px;">车费:</th>
                            <td class="formValue" style="padding:0px">
                                <input id="F_CarFreight" type="text" class="form-control" placeholder="￥" required style="width: 80px;">
                            </td>
                            <th class="formTitle" style="width:30px; padding:0px 10px 0px 10px;">备注:</th>
                            <td class="formValue" style="padding:0px">
                                <input id="F_Description" type="text" class="form-control" placeholder="备注" required style=" width: 80px;">
                            </td>
                            <th class="formTitle" style="width:30px; padding:0px 10px 0px 10px;"></th>
                            <td class="formValue" style="padding:0px">
                                <a id="btnSubmit" onclick="btnSubmit()" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span>提交</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <table id="gridVehicles"></table>
        <div id="pagerVehicles"></div>
    </div>
</div>

<script>
    var loadItems = {};
    $(function () {
        var $gridGoods = initGrid({ el: "#gridGoods", pager: "#pagerGoods", search: "#kwGoods", url: "/OrderManage/OrderList/GetGridJson?dataType=0" });
        var $gridVehicles = initGrid({ el: "#gridVehicles", pager: "#pagerVehicles", search: "#kwVehicles" });
        var $btnLoad = $("#btnLoad").unbind("click").on("click", function () {
            var row = $gridGoods.jqGridRowValue();
            if (row && !Array.isArray(row) && !loadItems[row.F_Id]) {
                loadItems[row.F_Id] = row;
                $gridVehicles.jqGrid('addRowData', row.F_Id, row);
                $gridGoods.jqGrid("delRowData", row.F_Id);
                $gridVehicles.trigger("reloadGrid");
            }
        });
        var $btnUnload = $("#btnUnload").unbind("click").on("click", function () {
            var row = $gridVehicles.jqGridRowValue();
            if (row && !Array.isArray(row) && loadItems[row.F_Id]) {
                delete loadItems[row.F_Id];
                $gridGoods.jqGrid('addRowData', row.F_Id, row);
                $gridVehicles.jqGrid("delRowData", row.F_Id);
                $gridVehicles.trigger("reloadGrid");
            }
        });
        
        var $btnSubmit = $("#btnSubmit").unbind("click").on("click", function () {
            $.modalConfirm("您确定要【装车】吗？", function (e) {
                if (e) {
                    var LoadOrderArrey = [];
                    $.each(loadItems, (k, v) => LoadOrderArrey.push(v))
                    var data = $("#form1").formSerialize()
                    $.submitForm({
                        url: "/OrderManage/OrderToVehicle/SubmitData",
                        param: {
                            vehicleBindOrder: data ,
                            LoadOrderItems: LoadOrderArrey,
                            keyValue: null
                        },
                        success: function () {
                            $.currentWindow().$("#gridList").trigger("reloadGrid");
                        }
                    });
                }
            });
        });

    });

    $(document).ready(function () {
        $("input[name=LoadingType]").each(function () {
            $(this).click(function () {
                var discount = $(this).val();
                if (discount == "frist") {
                    $("#selctVehicleButton").css("display", "none");
                    $("#selctVehicleText").css("display", "none");
                }
                if (discount == "next") {
                    $("#selctVehicleButton").css("display", "");
                    $("#selctVehicleText").css("display", "");
                }
            });
        });
    });

    function initGrid(opt) {
        opt = Object.assign({
            el: "",
            pager: "",
            search: "",
            url: ""
        }, opt);

        var $el = $(opt.el);
        $el.dataGrid({
            url: opt.url,
            autowidth: false,
            width: ($(window).width() - 40) / 2,
            height: $(window).height() - 150,
            colModel: [
                { label: '订单日期', name: 'F_CreatorTime', align: 'left', width: '110px', frozen: true },
                { label: '运单号', name: 'F_WaybillNumber', align: 'left', width: '120px', frozen: true },
                { label: '货号', name: 'F_ArtNo', align: 'left', width: '80px', frozen: true },
                { label: '主键', name: 'F_Id', hidden: true, key: true },
                { label: '到站', name: 'F_Station', align: 'left', width: '80px' },
                { label: '地区', name: 'F_Area', align: 'left', width: '80px'},
                { label: '车辆备注', name: 'F_VehicleRemarks', align: 'left', width: '120px' },
                { label: '发货人', name: 'F_Consignor', align: 'left', width: '60px'},
                { label: '收货人', name: 'F_Consignee', align: 'left', width: '60px'},
                { label: '货物名称', name: 'F_Name', align: 'left', width: '80px' },
                { label: '件数', name: 'F_Number', align: 'left', width: '40px'},
                { label: '重量', name: 'F_Weight', align: 'left', width: '40px'},
                { label: '体积', name: 'F_Volume', align: 'left', width: '40px'},
                { label: '运费', name: 'F_FreightCombined', align: 'left',  width: '40px' },
                { label: '代收款', name: 'F_CollectionPayment', align: 'left', width: '40px' }
                ],
            // direction: "rtl", 固定列会挪到左边
            footerrow: true,
            userDataOnFooter: true,
            pager: opt.pager,
            sortname: 'F_CreatorTime desc',
            viewrecords: true
        });
        var $elSearch = $(opt.search).unbind("keypress").on("keypress",
            debounce(function () {
                $el.jqGrid('setGridParam', { postData: { keyword: $elSearch.val(),dataType:0 } })
                    .trigger('reloadGrid');
            }, 1000));
        return $el;
    }
</script>