@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        initgridList();
    })
    function initgridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/CustomerManage/Customer/GetGridJson",
            height: $(window).height() - 190,
            datatype: "json",
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true, key: true },
                { label: '姓名', name: 'F_Name' },
                { label: '电话', name: 'F_Phone', align: 'left' },
                { label: '地址', name: 'F_Address', align: 'left'},
                { label: '座机', name: 'F_Landline', align: 'left' },

                { label: '客户类型', name: 'F_CustomerType', align: 'left' },
                { label: '开户人', name: 'F_AccountOpening', align: 'left' },
                { label: '开户行', name: 'F_OpeningBank', align: 'left' },
                { label: '银行卡号', name: 'F_BankCardNumber', align: 'left' },
                {
                    label: '创建时间', name: 'F_CreatorTime', align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '是否启用', name: 'F_EnabledMark', align: 'center',
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
            ],
            // direction: "rtl", 固定列会挪到左边
            footerrow: true,
            userDataOnFooter: true,
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true,
        });

       // $("#gridList").jqGrid("setFrozenColumns");

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增客户",
            url: "/CustomerManage/Customer/Form",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改客户",
            url: "/CustomerManage/Customer/Form?keyValue=" + keyValue,
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/CustomerManage/Customer/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看客户",
            url: "/CustomerManage/Customer/Details?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            btn: null,
        });
    }
    function btn_disabled() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要【禁用】该客户吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/CustomerManage/Customer/DisabledCustomer",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_enabled() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalConfirm("注：您确定要【启用】该客户吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/CustomerManage/Customer/EnabledCustomer",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }

</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建客户</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改客户</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除客户</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看客户</a></li>
                <li class="split"></li>
                <li class="split"></li>
                <li><a id="NF-disabled" authorize="yes" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>禁用</a></li>
                <li><a id="NF-enabled" authorize="yes" onclick="btn_enabled()"><i class="fa fa-play-circle"></i>启用</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="车牌号/姓名/手机" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="gridPanel" style="width:100%;float:left">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>


