<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="LHLCBDbContext" connectionString="Server=.;Initial Catalog=LHWisdomLogistics;User ID=sa;Password=zyj-091101-stjk" providerName="System.Data.SqlClient" />-->
  <add name="LHLCBDbContext" connectionString="Server=qds122605471.my3w.com;Initial Catalog=qds122605471_db;User ID=qds122605471;Password=zyj091101stjk" providerName="System.Data.SqlClient" />
</connectionStrings>